body {
    background-color: #0F0F0F;
    color: #FFFFFF;
    box-sizing: border-box;
    margin: 0 auto;
    font-family: inter;
    display: flex;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

main {
    margin-top: 350px;
}
p {
    word-break: break-word;
}
a {
    color: inherit;
    text-decoration: none;
}

.wbt-logo {
    margin: 1rem;
}

.header__nav {
    display: flex;
    align-items: center;
    height: 12vh;
    padding: 10vw;
    position: relative;
}

.header__background-image {
    position: absolute;
    z-index: -1;
    width: 100%;
    height: auto;
    margin: 0;
    opacity: 0.5;
}

.address__container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.address__pin {
    width: 3vw;
    height: auto;
    margin-left: 5vw;
    margin-bottom: 1vh;
}

.address__text {
    font-size: 1.5rem;
    margin-left: 5vw;
    text-decoration: none;
}

.header__instagram-link {
    margin-left: 25vw;
}

.header__button-container {
    display: flex;
    align-items: center;
}

.header__button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
    width: 20vw;
    height: 7vh;
    font-size: 1.5rem;
    font-weight: 600;
    color: #000;
    background-color: #fff;
    border: 2px solid #000;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    transition: border-color 0.2s ease;
    border-radius: 1rem;
    margin-left: 1rem;
}

.header__phone-icon {
    position: absolute;
    margin-left: 18vw;
    
    cursor: pointer;
    
    height: auto;
}

.text__container {
    max-width: 60vw;
    height: 20vh;
    margin-left: 10vw;
    margin-top: 14vh;
}

.price__container {
    width: 85vw;
    height: 190vh;
}

.price-groups-adults {
    padding: 0 0 6vh 6vw;
    position: relative;
    width: 39vw;
    height: 53vh;
    border: 3px #FFFFFF solid;
    border-radius: 1.2rem;
}

.price-groups__container {
    gap: 12vw;
    margin-top: 15vh;
    display: flex;
}

.price-groups-children {
    padding: 3vh 0 3vh 3vw;
    position: relative;
    width: 39vw;
    height: 43vh;
    border: 3px #FFFFFF solid;
    border-radius: 1.2rem;
}

.price-other {
    padding-left: 3vw;
    padding-bottom: 3vh;
    position: relative;
    width: 84vw;
    height: 24vh;
    border: 3px #FFFFFF solid;
    border-radius: 1.2rem;
}

.massage__container {
    gap: 12vw;
    margin-top: 10vh;
    display: flex;
}

.massage__text {
    padding: 1vw 2vw;
    width: 80vw;
    height: 30vh;
    border: 3px #FFFFFF solid;
    border-radius: 1.2rem;
}
.massage__text-2 {
    padding: 0.5vw 2vw;
    width: 40vw;
    height: 37vh;
    border: 3px #FFFFFF solid;
    border-radius: 1.2rem;
}

.price-massage__container {
    margin-top: 5vh;
    position: relative;
    width: 85vw;
    height: auto;
    border: 3px #FFFFFF solid;
    border-radius: 1.6rem;
    text-align: center;
}

.photo-gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    margin-top: 10vh;
}

.photo-gallery img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.photo-large {
    grid-row: span 2;
    height: 100%;
    object-fit: cover;
}
