/* Base styles (mobile-first) */
/* * {
  outline: 1px solid red;
} */
body {
  background-color: #0f0f0f;
  color: #ffffff;
  box-sizing: border-box;
  margin: 0 auto;
  font-family: "Russo One", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
}
footer {
  width: 100%;
}
.footer__container {
  position: relative;
}
.footer__container::before {
  content: "";
  background: url("/assets/graffity-bg.jpg") no-repeat center center/cover;
  opacity: 0.1;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}

.footer__instagram-link {
  width: 70px;
}
/* Typography */
p {
  word-break: break-word;
}

a {
  color: inherit;
  text-decoration: none;
}
header {
  width: 100%;
}
/* Header styles */
.header {
  position: relative;
  height: 85vh;
  z-index: 1;
}
.header__nav {
  display: flex;
  align-items: center;
  padding: 9vh 3vw 9vh 3vw;
  position: relative;
  z-index: 1;
}
#schedule-header-text {
  font-size: 73px;
  text-align: center;
}
#schedule-photo {
  width: 100%;
}
.wbt-team__mobile {
  display: none;
}
.lang__container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.lang-button {
  background: transparent;
  z-index: 1001;
  color: #ffff;
  font-size: 31px;
  border: 0;
  cursor: pointer;
  padding: 0;
  margin-left: 1vw;
  transition: color 0.5s ease;
}

.lang-button:hover {
  color: #b4a26d;
}
.photo-gallery__mobile {
  display: none;
}
.header__background-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  object-fit: cover;
  z-index: -1;
  opacity: 0.5;
}

/* Text styles */
.text__container {
  width: 55vw;
  position: relative;
  left: 8vw;
}

/* Address styles */
.address__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  left: 7rem;
}

.address__pin {
  width: 3vw;
  height: auto;
  margin-left: 3vw;
  margin-bottom: 1vh;
}

.address__text {
  width: 100%;
  font-size: 1.5rem;
  margin-left: 5vw;
}

.address__text-footer {
  font-size: 1.7rem;
}

/* Social media styles */
.social-media__container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1vw;
}

#telegram-logo {
  width: 73px;
  height: 73px;
  margin-left: 26vw;
}
#team {
  font-size: 80px;
}
#iframe-geo {
  width: 600px;
  height: 450px;
}
#contacts {
  font-size: 94px;
}
#wbt-logo {
  position: relative;
  left: 5rem;
}
#wbt-people {
  width: 754px;
  height: 554px;
  object-fit: cover;
}
#wbt-kids {
  width: 754px;
  height: 500px;
  object-fit: cover;
}
#massage-photo,
#massage-photo-2 {
  width: 754px;
  height: 554px;
  object-fit: cover;
}
/* Button styles */
.header__button-container {
  display: flex;
  align-items: center;
}

.header__button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 1rem;
  width: 20vw;
  height: 7vh;
  font-size: 1.5rem;
  font-weight: 600;
  color: #000;
  background-color: #fff;
  border: 2px solid #000;
  border-radius: 1rem;
  margin-left: 1rem;
  cursor: pointer;
  transition: border-color 0.2s ease;
}

.header__phone-icon {
  position: absolute;
  cursor: pointer;
  height: auto;
  right: 19rem;
}

/* Price section styles */
.price__container {
  position: relative;
}

.price__container::before {
  content: "";
  background: url("/assets/graffity-bg.jpg") no-repeat center center/cover;
  opacity: 0.05;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
  height: 250vh;
}

.price__header {
  font-size: 73px;
  text-align: start;
}
.massage__header {
  position: relative;
  margin-top: 0;
  margin-bottom: 8rem;
  top: 4rem;
  font-size: 73px;
  text-align: center;
}
.wbt-team {
  height: 165vh;
}

.wbt-team__header {
  position: relative;
  margin: 0;
  top: 13vh;
  font-size: 73px;
  text-align: center;
}
.price-groups__container {
  margin-top: 15vh;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  overflow: hidden;
}

.price-groups-adults,
.price-groups-kids,
.price-groups-children,
.price-other {
  padding: 0 2vw;
  position: relative;
  height: auto;
  border: 3px #b4a26d solid;
  border-radius: 1.2rem;
}
.price-massage {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 2vw;
  position: relative;
  width: 100%;
  height: auto;
  border: 3px #b4a26d solid;
  border-radius: 1.2rem;
}
/* Massage section styles */
.massage__container {
  position: relative;
  height: 153vh;
}

.massage__text__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2vh;
  padding: 0 2vw;
  position: relative;
  width: auto;
  height: auto;
  border: 3px #b4a26d solid;
  border-radius: 1.2rem;
  font-size: 45px;
}
.massage__container::before {
  content: "";
  background: url("/assets/massage-photo.jpg") no-repeat center center/cover;
  opacity: 0.1;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}

.massage__text {
  font-size: 45px;
  font-weight: 500;
  line-height: 4rem;
}

/* Photo gallery styles */
.photo-gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  margin-top: -4rem;
}

.photo-gallery img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.photo-large {
  grid-row: span 2;
}
.photo-gallery img,
.photo-gallery__image {
  width: calc(100% - 4rem); /* Subtracting padding from width */
  height: calc(100% - 4rem); /* Subtracting padding from height */
  object-fit: cover;
  margin: 2rem; /* Adding margin */
}
.photo-gallery__header {
  font-weight: 800;
  text-align: center;
  position: relative;
  margin: 0;
  top: 5rem;
}

/* Footer styles */
.footer__container {
  display: flex;
  height: 650px;
  padding: 20vh 1vw;
  justify-content: center;
  align-items: center;
  gap: 26rem;
}

.footer__links {
  display: flex;
  flex-direction: column;
  gap: 2vh;
}

.footer__geo {
  margin-left: 2vw;
  width: 80%;
  height: 80%;
  margin-top: 4vh;
  margin-left: 4vw;
}

#main-header {
  text-align: center;
  position: relative;
  top: 5rem;
  font-size: 73px;
}

#lang-switcher {
  background: transparent;
  z-index: 1001;
  color: #ffff;
  font-size: 31px;
  border: 0;
  cursor: pointer;
  padding: 0;
  margin-left: 1vw;
}
.links__container {
  display: flex;
  flex-direction: row;
  gap: 2vh;
}

/* Media Queries - Mobile First Approach */

@media (min-width: 1920px) {
  .price-other {
    width: 85vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    margin-bottom: 1rem;
  }

  .price-groups__container {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
  }

  .massage-groups__container {
    display: flex;
    justify-content: space-around;
    gap: 6vw;
    margin: 5vh 4vw;
  }

  .price__header {
    text-align: center;
  }
}
.price-groups-adults {
  width: 30vw;
  height: auto;
}
.price-groups-kids {
  width: 30vw;
  height: 45vh;
}
.price-groups-children {
  width: 30vw;
  height: 37vh;
}
.wbt-team__mobile-container {
  display: none;
}
.photo-gallery__header {
  font-size: 53px;
}
.team-member__grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
  width: 80%;
  margin: 0 auto;
  position: relative;
  justify-content: space-between;
  position: relative;
  top: 18rem;
}

.team-member__grid img {
  width: 100%;
  height: auto;
}
.team-member {
  height: 641px;
  border: 2px solid #b4a26d;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
  position: relative;
  overflow: hidden;
}
.team-member__grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
  justify-items: center;
}
.team-member img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.team-member p {
  position: absolute;
  bottom: 2rem;
  width: 100%;
  margin: 0;
  text-align: center;
  font-size: 35px;
}

.wbt-team__container {
  position: relative;
  height: 100%;
}
.wbt-team__container::before {
  content: "";
  background: url("./assets/boxing-amunition.jpg") no-repeat center center/cover;
  opacity: 0.1;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}

@media (max-width: 1536px) {
  #telegram-logo {
    width: 73px;
    height: 73px;
    margin-left: 11vw;
  }
  #wbt-people {
    width: 634px;
    position: relative;
    top: 2rem;
  }
  #wbt-kids {
    width: 634px;
    height: 380px;
  }
  .price-massage {
    padding: 0;
    margin-top: 5rem;
    margin-bottom: 3rem;
  }

  .header__phone-icon {
    right: 14rem;
  }
  .header {
    height: 120vh;
  }
  .header__background-image {
    height: 110%;
  }
  .address__pin {
    margin-left: 0;
  }
  .header__nav {
    padding: 9vh 3vw 9vh 0vw;
  }
  .text__container {
    left: 5vw;
    width: 65vw;
  }
  .price-groups__container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
  }
  .price-groups-adults {
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 5rem;
  }
  .price-groups-kids {
    width: auto;
    height: auto;
    text-align: center;
  }
  .price-other {
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 3rem;
  }
  .price__container::before {
    height: 110%;
  }
  .massage-groups__container,
  .massage-text__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  #massage-photo {
    width: 1054px;
    position: relative;
  }
  #massage-photo-2 {
    width: 1054px;
    position: relative;
    top: 4rem;
  }
  #group-trainings {
    font-size: 28px !important;
  }
  #main-header {
    font-size: 43px;
  }
  .massage__container {
    height: auto;
    padding: 0 6vw;
    display: flex;
    flex-direction: column;
    gap: 3rem;
  }
  .massage__text {
    text-align: center;
  }
  .massage__text__container {
    top: 2rem;
  }
  .wbt-team__header {
    top: 16vh;
  }
  .wbt-team {
    height: 250vh;
  }
  .massage-groups__container {
    margin-bottom: 0;
  }
  .footer__container {
    gap: 4rem;
  }
}
@media (max-width: 450px) {
  body {
    display: inline;
  }
  ul {
    margin: 0;
  }
  .header {
    height: 164vh;
  }
  .header__background-image {
    height: 120%;
  }
  .social-media__container {
    display: none;
  }
  .header__nav {
    display: flex;
    gap: 1.5rem;
    padding-bottom: 0;
  }
  .address__container {
    text-align: center;
    left: 0;
  }
  .header__phone-icon {
    display: none;
  }
  .address__pin {
    display: none;
  }
  .address__text {
    text-align: left;
    font-size: 0.75rem;
    position: relative;
    left: 2rem;
  }
  .header__button {
    display: none;
  }
  .text__container {
    width: auto;
    text-align: center;
    left: 0;
  }
  #wbt-logo {
    left: 2rem;
  }
  #wbt-kids {
    position: relative;
    top: 4rem;
  }
  #wbt-people,
  #wbt-kids,
  #massage-photo,
  #massage-photo-2 {
    width: 80%;
    object-fit: contain;
    height: 100%;
  }
  #schedule-header-text {
    font-size: 45px;
  }
  #address {
    width: auto;
  }
  #schedule-image {
    display: none;
  }
  .lang-button {
    font-size: 20px;
  }
  .photo-gallery__container {
    display: none;
  }
  .photo-gallery__header {
    margin-top: 0rem;
    margin-bottom: 10rem;
  }
  .massage__header {
    font-size: 45px;
    margin-bottom: 0;
  }
  #contacts {
    font-size: 45px;
  }
  .footer__container {
    flex-direction: column;
  }
  .footer__container::before {
    background: url(/assets/graffity-bg-blurred.png) no-repeat center center /
      cover;
    opacity: 1;
  }
  #iframe-geo {
    width: 90%;
    height: 100%;
  }
  #academy {
    font-size: 21px !important;
  }
  #team {
    font-size: 25px;
  }
  .massage__text {
    font-size: 35px;
  }
  .massage__header {
    position: relative;
    top: 2rem;
  }
  .price-massage {
    text-align: center;
  }
  .team-member__grid {
    grid-template-columns: repeat(2, 1fr);
  }
  .team-member {
    width: auto;
    height: 360px;
  }
  .team-member p {
    font-size: 26px;
  }
  #yuri-grats {
    font-size: 31px;
  }
  .wbt-team {
    height: 175vh;
  }

  #main-header {
    font-size: 35px;
    padding: 0 10vw;
    top: 5rem;
  }
  #description {
    font-size: 12px !important;
    padding: 0vh 8vw;
  }
  #schedule-header-text {
    position: relative;
    top: 2rem;
    font-size: 35px;
    margin-top: 0;
    margin-bottom: 4rem;
  }
  .header {
    height: auto;
  }
  .price-other {
    text-align: center;
    width: 80%;
  }
  .price-groups__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10vh;
  }
  .price-groups-adults,
  .price-groups-kids {
    width: 80%;
  }
  #group-trainings {
    font-size: 21px !important;
    padding: 2vh 1vw 0 1vw;
  }
  #adult-group,
  #kids-group,
  #kids-group-prices {
    font-size: 20px !important;
  }
  #adult-group {
    margin-bottom: 0;
  }
  #individual-training-price,
  #gym-entry-price,
  #open-plan-price {
    font-size: 16px !important;
  }
  #kids-group-prices {
    line-height: 3rem !important;
  }
  #adult-group-prices {
    font-size: 20px !important;
    padding: 0 3vw;
  }
  .massage__text__container {
    width: 80%;
  }
  .massage__text {
    font-size: 16px;
    line-height: 1.5rem;
  }
  .price-massage {
    width: 80%;
  }
  #price-massage {
    font-size: 16px !important;
  }
  .wbt-team {
    display: none;
  }
  .schedule-mobile {
    display: block;
    padding: 0 10vw;
    margin-bottom: 5rem;
  }
  .section-schedule {
    font-size: 12px;
    line-height: 1.5rem;
  }
  .schedule__container {
    display: block;
  }
  .schedule__container {
    display: block;
    background: url(/assets/graffity-bg-blurred.png) no-repeat center center /
      cover;
    height: 46vh;
  }
  .photo-gallery__mobile {
    display: block;
  }
  .price__container::before {
    height: 100%;
    background: url(/assets/graffity-bg-blurred.png) no-repeat center center /
      cover;
    opacity: 1;
  }

  .wbt-team__mobile {
    display: block;
    background: url(/assets/graffity-bg-blurred.png) no-repeat center center /
      cover;
  }
}
@media (max-width: 375px) {
  .wbt-team {
    height: 255vh;
  }
  #main-header {
    font-size: 45px;
  }
}
/* slider */
.team-slider__container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}
.team-slider {
  margin-top: 0rem;
}
.team-slider__image {
  max-width: 100%;
  height: auto;
}
.slick-prev,
.slick-next {
  z-index: 1;
}
.slick-prev {
  left: 10px;
}
.slick-next {
  right: 10px;
}
.slick-slide {
  margin: 0 15px;
}
.team-slider__image {
  width: 350px;
  height: 450px;
  margin: 0 auto;
  object-fit: cover;
  border: 2px solid #b4a26d;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
  position: relative;
  overflow: hidden;
}
.team-slider__caption {
  position: relative;
  bottom: 150px;
  font-size: 36px;
  text-align: center;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #b4a26d;;
}
.team-slider__header {
  font-size: 36px;
  text-align: center;
  margin-bottom: 10rem;
  margin-top: 0;
  position: relative;
  top: 5rem;
}
